#myItemList{
    margin: auto;
}

h4{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}
.card-header{
    border-radius: 10%;
}
.dropdown{
    padding: 1%;
}
.card{
    width: 20rem; 
    height:30rem;  
    overflow: hidden;
}

.card-img-bottom{
    
    box-shadow: 10px 10px 5px grey;
}
img{
    display: block;
    width: auto;
  height: auto;
}

.fa-2x {
    text-align: right;
}